*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px rgba(100%, 0%, 0%, 0.4) solid;
}

body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family:'Nunito',sans-serif;
    text-align: center;
}

p{
    margin-bottom: 25px;
}

/* header */
header{
    margin-top: 30px;
    margin-bottom: 50px;
}

h1{
    font-weight: 900;
    font-size: 2em;
    color: #e53170;
}
/* end header */

/* section */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.column {
    float: left;
    width: calc(100% / 3);
    /* background-color: black;
    padding: 25px 17px; */
}

/* prove */
.box{
    margin: 100px;
    width: 300px;
    height: 130px;
    background-color: black;
}
/* end section */