*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family:'Nunito',sans-serif;
}

p{
    text-align: center;
    margin-bottom: 25px;
}

/* header */
header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

h1{
    font-weight: 900;
    font-size: 2em;
    color: #e53170;
}
/* end header */

/* section */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.column {
    float: left;
    width: calc(100% / 3);
    padding: 25px 17px 25px 17px;
}

h2{
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 3px;
}

img{
    height: 100px;
    float: left;
    padding-right: 15px;
}

div.info{
    padding-top: 15px;
    color: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.box{
    height: 100px;
    background-color: #0f0e16;
}

.role{
    font-weight: 400;
    margin-bottom: 3px;
}

a{
    color: #1faece;
    font-weight: 400;
    text-decoration: none;
}
/* end section */